# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/



# Testing / Coverage
.tox/
.nox/
.coverage
htmlcov/

# MyPy and Pyright
type/
.mypy_cache/
.pyright/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# OS-specific files
.DS_Store
Thumbs.db
